body {
  padding: 20px;
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #15314d;
  background-color: #96a8bb;
}

h1 {
  font-size: 36px;
  line-height: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 1000px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  
}

.name {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
}

main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aside, .header, footer {
  color: #96a8bb;
  background-color: #15314d;
  padding: 20px;
}

h3 {
  font-weight: bolder;
  text-decoration-line: underline;
}

